body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#level-title-responsive {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1119px) {
  .container {
    padding-top: 5%;
  } 
  #level-title {
    display: none;
  }
}
@media (min-width: 1119px) {
  .start-btn {
    display: none;
  }
  #level-title-responsive {
    display: none;
  } 
}
.start-btn {
  background-color: #FEF2BF;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
}

.select-box {
  position: absolute;
  right: 1.5rem;
  top: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 75%);
}

.select-box label {
  font-size: 1.2rem;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
}

.select-box select {
  font-size: 1.5rem;
  background-color: #FEF2BF;
  font-family: cursive;
  outline: none;
  border: solid 1px black;
  border-radius: 10px;
}